# Praktikum 01 – Pengenalan Variabel dan Tipe Data

In [ ]:
umur = 20
print("Umur: ", umur, "→", type(umur))

tinggi = 170.5
print("Tinggi: ", tinggi, "→", type(tinggi))

nama = "Andi"
print("Nama:", nama, "→", type(nama))

is_mahasiswa = True
print("Status Mahasiswa:", is_mahasiswa, "→", type(is_mahasiswa))

nilai = [80, 85, 90]
print("Nilai:", nilai, "→", type(nilai))

koordinat = (10, 20)
print("Koordinat:", koordinat, "→", type(koordinat))

mahasiswa = {"nama": "Andi", "umur": 20, "prodi": "TRK"}
print("Data Mahasiswa:", mahasiswa, "→", type(mahasiswa))

hobi = {"membaca", "olahraga", "musik"}
print("Hobi:", hobi, "→", type(hobi))

Umur:  20 → <class 'int'>
Tinggi:  170.5 → <class 'float'>
Nama: Andi → <class 'str'>
Status Mahasiswa: True → <class 'bool'>
Nilai: [80, 85, 90] → <class 'list'>
Koordinat: (10, 20) → <class 'tuple'>
Data Mahasiswa: {'nama': 'Andi', 'umur': 20, 'prodi': 'TRK'} → <class 'dict'>
Hobi: {'membaca', 'musik', 'olahraga'} → <class 'set'>

# Praktikum 02 – Input dan Output Dasar

In [ ]:
nama = input("Masukkan nama Anda: ")
umur = int(input("Masukkan umur Anda: "))
tinggi = float(input("Masukkan tinggi badan (cm): "))
print("Halo,", nama, "umur Anda:", umur, "tahun, tinggi:", tinggi, "cm")
print("Halo {0}, umur Anda {1} tahun, tinggi {2} cm".format(nama, umur,
tinggi))
print(f"Halo {nama}, umur Anda {umur} tahun, tinggi {tinggi} cm")

Masukkan nama Anda: Daffa
Masukkan umur Anda: 18
Masukkan tinggi badan (cm): 168.5
Halo, Daffa umur Anda: 18 tahun, tinggi: 168.5 cm
Halo Daffa, umur Anda 18 tahun, tinggi 168.5 cm
Halo Daffa, umur Anda 18 tahun, tinggi 168.5 cm

# Praktikum 03 – Operator Aritmatika

In [ ]:
a = 15
b = 4

print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)
print("a // b =", a // b)
print("a % b =", a % b)
print("a ** b =", a ** b)

a + b = 19
a - b = 11
a * b = 60
a / b = 3.75
a // b = 3
a % b = 3
a ** b = 50625

# Praktikum 04 – Operator Relasional

In [ ]:
x = 10
y = 20

print("x == y :", x == y)
print("x != y :", x != y)
print("x < y :", x < y)
print("x > y :", x > y)
print("x <= y :", x <= y)
print("x >= y :", x >= y)

x == y : False
x != y : True
x < y : True
x > y : False
x <= y : True
x >= y : False

# Praktikum 05 – Operator Logika dengan Studi Kasus Nyata

In [ ]:
a = True
b = False

print("a and b =", a and b)
print("a or b =", a or b)
print("not a =", not a)

nilai = int(input("Masukkan nilai ujian: "))
hadir = int(input("Masukkan jumlah kehadiran: "))

lulus_nilai = nilai >= 60
lulus_hadir = hadir >= 12

if lulus_nilai and lulus_hadir:
  print("Status: LULUS")
else:
  print("Status: TIDAK LULUS")

a and b = False
a or b = True
not a = False
Masukkan nilai ujian: 75
Masukkan jumlah kehadiran: 25
Status: LULUS

# Praktikum 06 – Program Kasir Sederhana

In [ ]:
barang = input("Masukkan nama barang: ")
harga = float(input("Masukkan harga barang: "))
jumlah = int(input("Masukkan jumlah barang: "))
total = harga * jumlah

if total >= 500000:
  diskon = 0.2
elif total >= 250000:
  diskon = 0.1
else:
  diskon = 0

potongan = total * diskon
bayar = total - potongan

print("\n===== Struk Belanja =====")
print(f"Barang : {barang}")
print(f"Jumlah : {jumlah}")
print(f"Total : Rp {total}")
print(f"Diskon : {diskon * 100}%")
print(f"Bayar : Rp {bayar}")

Masukkan nama barang: Laptop
Masukkan harga barang: 8000000
Masukkan jumlah barang: 5

===== Struk Belanja =====
Barang : Laptop
Jumlah : 5
Total : Rp 40000000.0
Diskon : 20.0%
Bayar : Rp 32000000.0

# Penugasan 01 - Identitas Mahasiswa

In [8]:
nama = "Daffa Ma'arif"
umur = 18
tinggi = 168.5
status_aktif = True

print("--- Data Mahasiswa ---")
print(f"Nama         : ", nama)
print(f"Umur         : ", umur , "tahun")
print(f"Tinggi       : ", tinggi, "cm")
print(f"Status Aktif : ", status_aktif)
print("-" * 22)

--- Data Mahasiswa ---
Nama         :  Daffa Ma'arif
Umur         :  18 tahun
Tinggi       :  168.5 cm
Status Aktif :  True
----------------------

# Penugasan 02 - Operasi Aritmatika

In [12]:
bil1 = int(input("Masukkan bilangan pertama (bulat): "))
bil2 = int(input("Masukkan bilangan kedua (bulat): "))

print(f"\nHasil Operasi dari {bil1} dan {bil2}:")
print(f"Penjumlahan   ({bil1} + {bil2}) : {bil1 + bil2}")
print(f"Pengurangan   ({bil1} - {bil2}) : {bil1 - bil2}")
print(f"Perkalian     ({bil1} * {bil2}) : {bil1 * bil2}")

if bil2 != 0:
    print(f"Pembagian     ({bil1} / {bil2}) : {bil1 / bil2}")
    print(f"Sisa Bagi     ({bil1} % {bil2}) : {bil1 % bil2}")
else:
    print(f"Pembagian     ({bil1} / {bil2}) : Error (Tidak bisa dibagi nol)")
    print(f"Sisa Bagi     ({bil1} % {bil2}) : Error (Tidak bisa dibagi nol)")

print(f"Perpangkatan  ({bil1} ** {bil2}) : {bil1 ** bil2}")

Masukkan bilangan pertama (bulat): 32
Masukkan bilangan kedua (bulat): 16

Hasil Operasi dari 32 dan 16:
Penjumlahan   (32 + 16) : 48
Pengurangan   (32 - 16) : 16
Perkalian     (32 * 16) : 512
Pembagian     (32 / 16) : 2.0
Sisa Bagi     (32 % 16) : 0
Perpangkatan  (32 ** 16) : 1208925819614629174706176

# Penugasan 03 - Konversi Nilai

In [13]:
angka_desimal = float(input("Masukkan angka desimal (cth: 98.765): "))

print(f"\nNilai Asli: {angka_desimal} (Tipe: {type(angka_desimal)})")

konversi_int = int(angka_desimal)
print(f"Konversi int()  : {konversi_int} (Tipe: {type(konversi_int)})")

konversi_str = str(angka_desimal)
print(f"Konversi str()  : '{konversi_str}' (Tipe: {type(konversi_str)})")

konversi_bulat = round(angka_desimal, 2)
print(f"Pembulatan (2)  : {konversi_bulat} (Tipe: {type(konversi_bulat)})")

Masukkan angka desimal (cth: 98.765): 98.765

Nilai Asli: 98.765 (Tipe: <class 'float'>)
Konversi int()  : 98 (Tipe: <class 'int'>)
Konversi str()  : '98.765' (Tipe: <class 'str'>)
Pembulatan (2)  : 98.77 (Tipe: <class 'float'>)

# Penugasan 04 - Operator Relasional

In [14]:
a = float(input("Masukkan bilangan A: "))
b = float(input("Masukkan bilangan B: "))

print(f"\nHasil Perbandingan {a} dan {b}:")
print(f"{a} == {b} (Sama dengan)       : {a == b}")
print(f"{a} != {b} (Tidak sama dengan) : {a != b}")
print(f"{a} <  {b} (Lebih kecil dari)    : {a < b}")
print(f"{a} >  {b} (Lebih besar dari)    : {a > b}")
print(f"{a} <= {b} (Lebih kecil/sama)   : {a <= b}")
print(f"{a} >= {b} (Lebih besar/sama)   : {a >= b}")

Masukkan bilangan A: 20
Masukkan bilangan B: 4

Hasil Perbandingan 20.0 dan 4.0:
20.0 == 4.0 (Sama dengan)       : False
20.0 != 4.0 (Tidak sama dengan) : True
20.0 <  4.0 (Lebih kecil dari)    : False
20.0 >  4.0 (Lebih besar dari)    : True
20.0 <= 4.0 (Lebih kecil/sama)   : False
20.0 >= 4.0 (Lebih besar/sama)   : True