<a href="https://colab.research.google.com/github/daffamaarifmhspolines/Algoritma-dan-Pemrograman/blob/2025-10-23/Daffa_Ma'arif_Jobsheet_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Praktikum 01 – Perulangan For dengan Range

In [ ]:
for i in range(1, 6):
  print(i)

1
2
3
4
5

#Praktikum 02 – Perulangan While

In [1]:
n = int(input("Masukkan angka: "))
while n > 0:
  print(n)
  n -= 1

Masukkan angka: 5
5
4
3
2
1

#Praktikum 03 – Nested Loop (Segitiga Bintang)

In [ ]:
for i in range(1, 6):
  for j in range(i):
    print("*", end="")
  print()

*
**
***
****
*****

#Praktikum 04 – Break dan Continue

In [5]:
for i in range(1, 11):
  print(i)
  if i == 5:
    print("Angka 5 ditemukan")
    break

1
2
3
4
5
Angka 5 ditemukan

In [6]:
for i in range(1, 6):
  if i % 2 == 1:
    continue
  print(i)

2
4

#Praktikum 05 – For pada Dictionary

In [7]:
data = {"Nama": "Andi", "Umur": 20, "Prodi": "TRK"}

for k, v in data.items():
  print(k, ":", v)

Nama : Andi
Umur : 20
Prodi : TRK

#Praktikum 06 – For dengan Enumerate

In [8]:
daftar = ["Andi", "Budi", "Cici"]

for i, nama in enumerate(daftar, start=1):
  print(i, nama)

1 Andi
2 Budi
3 Cici

#Praktikum 07 – Studi Kasus: Program Kasir Multi-Item

In [9]:
total = 0

while True:
  barang = input("Masukkan nama barang (ketik 'selesai' untuk berhenti): ")
  if barang.lower() == "selesai":
    break
  harga = float(input(f"Masukkan harga {barang}: "))
  jumlah = int(input(f"Masukkan jumlah {barang}: "))
  subtotal = harga * jumlah
  total += subtotal

print("\n===== Struk Belanja =====")
print(f"Total Belanja : Rp {total}")

Masukkan nama barang (ketik 'selesai' untuk berhenti): Buku
Masukkan harga Buku: 50000
Masukkan jumlah Buku: 2
Masukkan nama barang (ketik 'selesai' untuk berhenti): Pulpen
Masukkan harga Pulpen: 5000
Masukkan jumlah Pulpen: 3
Masukkan nama barang (ketik 'selesai' untuk berhenti): selesai

===== Struk Belanja =====
Total Belanja : Rp 115000.0

#Penugasan 01 - Menampilkan Deret Angka

In [ ]:
for i in range(3, 31, 3):
  print(i)

3
6
9
12
15
18
21
24
27
30

#Penugasan 02 - Hitung Faktorial

In [10]:
angka = int(input("Masukkan angka untuk menghitung faktorial: "))
faktorial = 1
i = 1

while i <= angka:
  faktorial *= i
  i += 1

print(f"Faktorial dari {angka} adalah {faktorial}")

Masukkan angka untuk menghitung faktorial: 5
Faktorial dari 5 adalah 120

#Penugasan 03 - Pola Segitiga Terbalik

In [11]:
baris = 5
for i in range(baris, 0, -1):
  for j in range(i):
    print("*", end="")
  print()

*****
****
***
**
*

#Penugasan 04 - Cari Bilangan Prima dengan Break

In [14]:
angka = int(input("Masukkan angka untuk memeriksa apakah prima: "))

if angka <= 1:
  is_prima = False
elif angka == 2:
  is_prima = True
else:
  is_prima = True
  for i in range(2, int(angka**0.5) + 1):
    if angka % i == 0:
      is_prima = False
      break

if is_prima:
  print(f"{angka} adalah bilangan prima")
else:
  print(f"{angka} bukan bilangan prima")

Masukkan angka untuk memeriksa apakah prima: 1
1 bukan bilangan prima

#Penugasan 05 - Tampilkan Hanya Bilangan Genap dengan Continue

In [15]:
for i in range(1, 21):
  if i % 2 == 1:
    continue
  print(i)

2
4
6
8
10
12
14
16
18
20

#Penugasan 06 - Iterasi Dictionary Mahasiswa

In [ ]:
mahasiswa = {"Nama":"Budi", "Umur":21, "Prodi":"Teknik Komputer"}

for k, v in mahasiswa.items():
  print(k, ":", v)

Nama : Budi
Umur : 21
Prodi : Teknik Komputer

#Penugasan 07 - Enumerate Daftar Barang

In [ ]:
daftar_barang = ["Buku", "Pulpen", "Tas"]

for i, barang in enumerate(daftar_barang, start=1):
  print(i, barang)

1 Buku
2 Pulpen
3 Tas

#Penugasan 08 - Studi Kasus – Kasir Diskon

In [20]:
total = 0
diskon = 0.10
batas_diskon = 200000
items = []

while True:
  barang = input("Masukkan nama barang (ketik 'selesai' untuk berhenti): ")
  if barang.lower() == "selesai":
    break
  try:
    harga = float(input(f"Masukkan harga {barang}: "))
    jumlah = int(input(f"Masukkan jumlah {barang}: "))
    subtotal = harga * jumlah
    total += subtotal
    items.append({"barang": barang, "harga": harga, "jumlah": jumlah, "subtotal": subtotal})
  except ValueError:
    print("Input tidak valid. Pastikan harga dan jumlah adalah angka.")
    continue

print("\n===== Struk Belanja =====")
for item in items:
  print(f"{item['barang']} ({item['jumlah']} x Rp {item['harga']}) : Rp {item['subtotal']}")

print(f"Total Belanja Awal: Rp {total}")

if total >= batas_diskon:
  jumlah_diskon = total * diskon
  total_setelah_diskon = total - jumlah_diskon
  print(f"Diskon ({diskon*100}%) : Rp {jumlah_diskon:.2f}")
  print(f"Total Setelah Diskon: Rp {total_setelah_diskon:.2f}")
else:
  print("Tidak ada diskon yang diterapkan.")
  print(f"Total Belanja Akhir: Rp {total}")

print("==========================")

Masukkan nama barang (ketik 'selesai' untuk berhenti): Mouse
Masukkan harga Mouse: 120000
Masukkan jumlah Mouse: 1
Masukkan nama barang (ketik 'selesai' untuk berhenti): selesai

===== Struk Belanja =====
Mouse (1 x Rp 120000.0) : Rp 120000.0
Total Belanja Awal: Rp 120000.0
Tidak ada diskon yang diterapkan.
Total Belanja Akhir: Rp 120000.0
==========================